.the-tweets {
    background-color: antiquewhite;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    transition: box-shadow 0.5s ease;
}

.the-tweets:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


#rhonda {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#img2{
    padding:20px;
}
.posted-tweet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hello{
    padding: 3%;
    display: flex;
    justify-content: space-between;
 
    border-bottom: black solid 6px;
}


.tweets-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    padding: 20px;
}

.newton{
    background-color: antiquewhite;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#newton-tag{
display:flex;
flex-direction: row;
align-items: center;
justify-content: space-between
}

#img3{
    padding:20px;
}

.fa-solid:hover{
    color: rgb(255, 200, 0);
    cursor: pointer;
}

body{
    background-color: antiquewhite;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}